/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none            &none      &none     &none    &none    &none       &none   &none          &none          &none            &none      &none
&rgb_ug RGB_EFF  &kp N1     &kp N2    &kp N3   &kp N4   &kp N5      &kp N6  &kp N7         &kp N8         &kp N9           &kp N0     &kp ESC
&rgb_ug RGB_BRI  &kp Q      &kp W     &kp F    &kp R    &kp T       &kp J   &kp L          &kp U          &kp Y            &kp SPACE  &kp CAPS
&rgb_ug RGB_HUI  &kp A      &kp S     &kp D    &kp F    &kp G       &kp M   &kp N          &kp E          &kp I            &kp O      &kp RIGHT_ALT
&rgb_ug RGB_SAI  &kp Z      &kp X     &kp C    &kp V    &kp B       &kp K   &kp H          &kp COMMA      &kp DOT          &kp ENTER  &kp RCTRL
&kp LSHFT        &kp SPACE  &kp BSPC  &kp DEL  &kp RET  &kp RGUI    &none   &kp LC(B)      &kp BACKSPACE  &kp RIGHT_SHIFT  &none      &none
&kp LSHFT        &kp SPACE  &kp BSPC  &kp DEL  &kp RET  &kp RGUI    &none   &kp RIGHT_WIN  &mo 2          &kp RIGHT_SHIFT  &none      &none
            >;
        };

        layer_1 {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans   &trans   &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans   &trans   &trans
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans   &trans   &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans   &trans   &trans
&trans      &trans        &bootloader   &trans        &trans        &trans          &trans  &trans  &trans  &trans   &trans   &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans       &trans  &trans    &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &bootloader  &trans  &trans    &trans  &trans    &trans    &trans     &trans  &trans
            >;
        };
    };
};
